<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.edu.cuit.hdhr.mapper.EmpMapper">
  <insert id="save">
    call P_INSERT_EMP(#{deptID}, #{titleID}, #{postID}, #{empName},
    #{gender}, #{idCardCode}, #{birthday}, #{nativePlace}, #{eduLevel}, #{nation}, #{party}, #{health},
    #{regType}, #{status});
  </insert>

  <update id="updateEmp">
      update t_emp set
      N_DEPT_ID = #{deptID},
      N_TITLE_ID = #{titleID},
      N_POST_ID = #{postID},
      VC_EMP_NAME = #{empName},
      N_GENDER = #{gender},
      VC_IDCARD_CODE = #{idCardCode},
      D_BIRTHDAY = #{birthday},
      VC_NATIVE_PLACE = #{nativePlace},
      N_EDU_LEVEL = #{eduLevel},
      N_NATION = #{nation},
      N_HEALTH = #{health},
      N_REG_TYPE = #{regType},
      N_STATUS = #{status}
      where N_EMP_ID = #{empID};

  </update>

  <select id="getEmps" resultMap="empResult">
    select * from t_emp
  </select>

  <delete id="deleteEmpByEmpID">
    delete from t_emp where N_EMP_ID = #{empID};
  </delete>
  <resultMap id="empResult" type="cn.edu.cuit.hdhr.entity.Emp">
    <id property="empID" column="n_emp_id"/>
    <result property="deptID" column="n_dept_id"/>
    <result property="titleID" column="n_title_id"/>
    <result property="postID" column="n_post_id"/>
    <result property="empName" column="vc_emp_name"/>
    <result property="empCode" column="vc_emp_code"/>
    <result property="gender" column="n_gender"/>
    <result property="idCardCode" column="vc_idcard_code"/>
    <result property="birthday" column="d_birthday"/>
    <result property="nativePlace" column="vc_native_place"/>
    <result property="eduLevel" column="n_edu_level"/>
    <result property="nation" column="n_nation"/>
    <result property="party" column="n_party"/>
    <result property="health" column="n_health"/>
    <result property="regType" column="n_reg_type"/>
    <result property="status" column="n_status"/>
    <result property="password" column="vc_password"/>
  </resultMap>
</mapper>